
<div class="myDiv">
<div class="heading-text">
    <h1>Facebook home Page</h1>
</div>
<div class="heading-text"> <%= link_to 'Create New Post', new_path %></div>
    <div class="pdiv">
        <% @posts.each do |p|%>
             <p><%=p.title%></p>
            <p class="pl"><%=p.description%></p>
        <% end%>
    </div>
<div>

